/* @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans'; */

.contenedor {
  margin: auto;
  width: 99%;
  position: fixed;
  z-index: 10000;
}



/*-------------------Estilos del header-------------------*/
/* .header {
  height: 2.7em; 
} */
.header .contenedor {
  display: flex;
  justify-content: space-between;
}
.logo, .icon-menu {
  margin: 5px;
  color: #fff;
  z-index: 60000;
}
.icon-menu {
  display: inline-flex;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background:#39454b ;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
    
}


/*------------------Estilos del menu------------------*/
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
    z-index: 30;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  display: block;
  padding: 15px;
  background: #fff;
  text-decoration: none;
  color: #39454b;
}
.menu__link:hover, .select {
  background: #39454b;
  color: #fff;
}
.mostrar {
  left: 0;
}

#iconito {
  width: 100%;

}

/*------------------Estilos responsive------------------*/

@media(min-width:480px) {
  .contenedor {
    background-color: rgba(255, 255, 255, 0);
    opacity: 100%;
  }
  .logo {
    font-size: 40px;
  }
  .banner__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .banner__txt {
    display: block;
    font-size: 18px;
    margin: 7px 0;
  }
  .info, .cursos {
    display: flex;
    justify-content: space-between;
    margin-top: -90px;
  }
  .info__columna {
    width: 32%;
  }
  .info__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .section__titulo {
    width: 100%;
  }
  .cursos {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .cursos__columna {
    width: 49%;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}

@media(min-width:768px) {  
  .banner__titulo {
    font-size: 50px;
  }
  .cursos__titulo {
    font-size: 40px;
  }
  .contenedor {
    background-color: rgba(255, 255, 255, 0);
    opacity: 100%;
  }
}

@media(min-width:1024px) {  
  .contenedor {
    /* width: 1000px; */
    width: 100%;
    background-color: #fff;
    opacity: 90%;
    
  
  }
  .section__titulo {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: #39454b;
  }
  .banner__titulo {
    font-size: 60px;
  }
  .banner__txt {
    font-size: 25px;
  }
  .info {
    margin-top: -120px;
  }
  .info__columna {
    padding: 30px;
  }
  .info__titulo {
    font-size: 40px;
    text-align: center;
  }
  .cursos__descripcion {
    padding: 20px;
  }
  .cursos__titulo {
    font-size: 50px;
  }
  .cursos__txt {
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .contenedor {
    
      background-color: #fff;
      opacity: 90%;
    
    /* width: 1200px; */
  }
  .logo {
    font-size: 60px;
  }
  .banner .contenedor {
    top: 40%;
  }
  .info {
    margin-top: -220px;
  }
}




